@import "tailwindcss";
@import "flowbite/src/themes/default.css";

/*disable auto switch dark theme*/
@custom-variant dark (&:where(.qwerty, .qwerty *));

@plugin "daisyui/theme" {
    name: "main";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(97% 0 0);
    --color-base-300: oklch(92% 0 0);
    --color-base-content: oklch(20% 0 0);
    --color-primary: oklch(85% 0.199 91.936);
    --color-primary-content: oklch(42% 0.095 57.708);
    --color-secondary: oklch(75% 0.183 55.934);
    --color-secondary-content: oklch(40% 0.123 38.172);
    --color-accent: oklch(0% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(37% 0.01 67.558);
    --color-neutral-content: oklch(92% 0.003 48.717);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(39% 0.09 240.876);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(39% 0.141 25.723);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

@plugin "daisyui" {
    themes: main --default;
}
@plugin "flowbite-typography";
@plugin "flowbite/plugin";

/*tailwindCSS safelists for text-editor:*/
@source inline("md:mx-auto,my-0,md:ml-auto,md:mr-auto,md:float-right,md:float-left,md:ml-6,md:mr-6 aspect-video");
@source inline("md:w-[5%],md:w-[10%],md:w-[15%],md:w-[20%],md:w-[25%],md:w-[30%],md:w-[35%],md:w-[40%],md:w-[45%],md:w-[50%],md:w-[55%],md:w-[60%],md:w-[65%],md:w-[70%],md:w-[75%],md:w-[80%],md:w-[85%],md:w-[90%],md:w-[95%],md:w-[100%]");
/* youtube iframe */
@layer components {
    iframe {
        @apply aspect-video w-full h-auto;
    }
}

@layer utilities {
    .format {
        @apply text-base-content max-w-none;
    }
    .ProseMirror table td:hover,
    .ProseMirror table th:hover,
    .ProseMirror table td:focus,
    .ProseMirror table th:focus {
        @apply bg-blue-50 outline outline-2 outline-blue-500;
    }
}

@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
